.exercise {
    width: 920px;
    height: 500px;
    padding: 20px;
    
    h2 {
        color: #0086db;
        margin: 0px;
        padding: 0px;
    }
    
    h3 {
        color: #575757;
        margin: 0px;
        padding: 0px;
    }
    
    .checker {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 36px;
        height: 36px;
        cursor: pointer;
        
        &.check {
            display: block;
            background: url('../images/u13_normal.png') no-repeat;
        }
        
        &.refresh {
             display: block;
            background: url('../images/u11_normal.png') no-repeat;
        }
    }
}