.slider {
    width: 960px;
    height: 540px;
    
    .slider-content {
        position: relative;
        
        .slide {
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
        }
    }
}